.row{
  border-bottom: 1px solid gray;
}
.heading{
  background: #c9c9c9;
  text-align: center;
  color: #000;
}
.download_btn{
  font-size: 15px;
  margin-top: 20px;
  width: 100%;
}
.download-btn-container{
  text-align: center;
}